.wrapper {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

@each $spacing-name, $spacing-value in $spacing-horizontals {
  .#{$spacing-name} {
    margin-right: -$spacing-value / 2;
    margin-left: -$spacing-value / 2;

    > * {
      margin-right: $spacing-value / 2;
      margin-left: $spacing-value / 2;
    }
  }
}
