@import '../../dependencies';

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  @include flex-alignments(items);
}

.column {
  flex: 1;
}

.auto-size {
  flex: none;
}

.full > .column {
  flex: 0 0 100%;
}

@for $i from 2 through 4 {
  .divide-by-#{$i} > .column {
    flex: 0 0 (100% / $i);
  }
}

@each $token, $value in $mq-breakpoints {
  @include mq($value) {
    .#{$token}Fit > .column {
      flex: 1;
    }
  }
}

@each $spacing-name, $spacing-value in $spacing-horizontals {
  .#{$spacing-name} {
    margin-right: -$spacing-value / 2 !important;
    margin-left: -$spacing-value / 2 !important;

    > .column {
      padding-right: $spacing-value / 2 !important;
      padding-left: $spacing-value / 2 !important;
    }
  }
}
