# Logs
logs
*.log

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
node_modules

# macOS directory files
.DS_Store

# Build caches
.cache
dist
public

# Yarn
yarn-error.log
.pnp/
.pnp.js
.yarn-integrity

# dotenv environment variables file
.env

# secrets
.env*
!.env.example

# we use only yarn
package-lock.json
