@import '~@dtcg/design-tokens/dist';

$dark-mode: true !default;

$flex-alignments: flex-start, center, flex-end, baseline, stretch;

$sides: top, right, bottom, left;

$vertical-sides: top, bottom;

$horizontal-sides: right, left;

$spacing-horizontals: (
  base: $spacing-base,
  small: $spacing-horizontal-small,
  medium: $spacing-horizontal-medium,
  large: $spacing-horizontal-large,
);

$mq-breakpoints: (
  small: $sizing-container-small,
  medium: $sizing-container-medium,
  large: $sizing-container-large,
  x-large: $sizing-container-x-large,
  xx-large: $sizing-container-xx-large,
);

$unquote-font-family-body: unquote($font-family-body);
$unquote-font-family-code: unquote($font-family-code);
