@import '~@dtcg/design-tokens/dist';

$dark-mode: true !default;

$flex-alignments: flex-start, center, flex-end, baseline, stretch;

$sides: top, right, bottom, left;

$vertical-sides: top, bottom;

$horizontal-sides: right, left;

$spacing-horizontals: (
  base: $spacing-base,
  small: $spacing-horizontal-small,
  medium: $spacing-horizontal-medium,
  large: $spacing-horizontal-large,
);

$breakpoint-small: $sizing-container-small;
$breakpoint-medium: $sizing-container-medium;
$breakpoint-large: $sizing-container-large;
$breakpoint-x-large: $sizing-container-x-large;
$breakpoint-xx-large: $sizing-container-xx-large;

$breakpoints: (
  small: $breakpoint-small,
  medium: $breakpoint-medium,
  large: $breakpoint-large,
  x-large: $breakpoint-x-large,
  xx-large: $breakpoint-xx-large,
);

$unquote-font-family-body: unquote($font-family-body);
$unquote-font-family-code: unquote($font-family-code);
