@import 'dependencies';

.wrapper {
  display: flex;
  align-items: flex-start;

  @include flex-alignments(items);
}

.figure {
  margin-right: $spacing-horizontal-medium;
}

.body {
  flex: 1;
}

.reverse .figure {
  margin-right: 0;
  margin-left: $spacing-horizontal-medium;
}

@each $spacing-name, $spacing-value in $spacing-horizontals {
  .#{$spacing-name} {
    margin-right: $spacing-value;

    &.reverse .figure {
      margin-right: 0;
      margin-left: $spacing-value;
    }
  }
}
