.wrapper {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;

  &.focusable {

    &:focus,
    &:active {
      position: static;
      margin: 0;
      width: auto;
      height: auto;
      overflow: visible;
      clip: auto;
      white-space: inherit;
    }
  }
}
