@import '../../assets/styles/dependencies';

.wrapper,
.body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  height: 100%;
}

.header,
.footer {
  flex: none;
}

.body {
  flex: 1 0 auto;

  @include mq(medium) {
    flex-direction: row;

    .content {
      flex: 1;
    }
  }
}

.navigation,
.aside {
  @include mq(medium) {
    flex: 0 0 $sizing-container-xsmall;
  }
}

.navigation {
  order: -1;
}
