.wrapper {
  margin: 0 auto;
  padding: 0 $spacing-horizontal-medium;
  max-width: $sizing-container-xx-large;

  @include breakpoint-large {
    padding-right: $spacing-horizontal-large;
    padding-left: $spacing-horizontal-large;
  }
}
