@import '../../dependencies';

.wrapper {
  margin: 0 auto;
  padding: 0 $rem-spacing-horizontal-medium;
  max-width: 80rem;

  @include breakpoint-large {
    padding-right: $rem-spacing-horizontal-large;
    padding-left: $rem-spacing-horizontal-large;
  }
}
