@import '../../dependencies';

.wrapper {
  @include button;

  cursor: pointer;

  &,
  &:global(.sg-is-base) {
    background: rgba($color-background-strong, .25);

    @include dark-mode {
      background: rgba($color-background-strong-inverse, .25);
    }
  }

  &:hover,
  &:global(.sg-is-hover),
  &:focus,
  &:global(.sg-is-focus) {
    background: rgba($color-background-strong, .5);

    @include dark-mode {
      background: rgba($color-background-strong-inverse, .5);
    }
  }

  &:active,
  &:global(.sg-is-active) {
    background: $color-background-strong;

    @include dark-mode {
      background: $color-background-strong-inverse;
    }
  }
}
